# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/


# JS/TS
node_modules/
dist/
*.tsbuildinfo
npm-debug.log*
.npm/
.vite/
TO-DO/build/android/.gradle/buildOutputCleanup/cache.properties
TO-DO/build/android/build/reports/problems/problems-report.html
.gitignore
TO-DO/build/android/.gradle/vcs-1/gc.properties
TO-DO/build/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
TO-DO/build/android/.gradle/9.2.1/fileHashes/fileHashes.lock
TO-DO/build/android/.gradle/9.2.1/fileHashes/fileHashes.bin
TO-DO/build/android/.gradle/9.2.1/fileChanges/last-build.bin
TO-DO/build/android/.gradle/9.2.1/checksums/sha1-checksums.bin
TO-DO/build/android/.gradle/9.2.1/checksums/md5-checksums.bin
TO-DO/build/android/.gradle/9.2.1/checksums/checksums.lock
TO-DO/build/android/.gradle/9.2.1/gc.properties
